@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap");
.about {
  padding-bottom: 5rem;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  color: black;

  &__bio-image {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    p {
      font-family: "Grandstander", cursive;
      line-height: 25px;
      margin-bottom: -6rem;
    }
  }

  &__bio {
    width: 80%;
    text-align: center;
    padding-bottom: -5rem;

    .text-secondary {
      padding-bottom: 1rem;
      font-family: "Grandstander", cursive;
      font-weight: bolder;
    }
  }

  .jobs {
    width: 80vw;
    margin: 7rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
    font-family: "Grandstander", cursive;
    line-height: 25px;

    &__job {
      border-bottom: 5px solid $secondary-color;
    
    }
  }



  .social-icons {
    display: flex;
    flex-direction: column;
  }

  .hobbies-icons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mail:hover {
    color: rgb(252, 32, 32);
  }
  .linked:hover {
    color: rgb(25, 67, 158);
  }
  .github:hover {
    color: rgb(143, 136, 136);
  }
}
