@import "config";
@import "home";
@import "menu";
@import "about";
@import "projects";
@import 'contact';
@import 'responsive';
@import 'banner';

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h1 span {
  display: inline-block;
  opacity: 0;
  animation: animate 2s linear forwards;

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      filter: blur(0);
    }
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color($primary-color);
}

.circle {
  width:200px;
  height:200px;
  border-radius:50%;
  position:relative;
  left:50px;
  top:50px;
 }
 .circle ul {
 list-style-type:none;
 }
 
 .circle ul li {
  height:50px;
  width:50%;
  position:absolute;
  left:50%;
  top:37.5%; /* 41.5 = (100-((50/200)*100))/2 */
 }
 .circle ul li a {
  display:block;
  width:50px;
  height:50px;
  position:relative;
  left:-25%; /* 25=((50/100)/2)*100 */
  border-radius:50%;
  background-position:center;
  background-size:52px;
 }
 
 .circle ul li.s1 {
  transform:rotateZ(0deg); 
  transform-origin:left;
 }
 .circle ul li.s2 {
  transform:rotateZ(60deg); 
  transform-origin:left;
 }
 .circle ul li.s3 {
  transform:rotateZ(120deg); 
  transform-origin:left;
 }
 .circle li.s4 {
  transform:rotateZ(180deg); 
  transform-origin:left;
 }
 .circle li.s5 {
  transform:rotateZ(240deg); 
  transform-origin:left;
 }
 .circle li.s6 {
  transform:rotateZ(300deg); 
  transform-origin:left;
 } 
 
 .circle:hover ul li a {
  left:50%; /* 50%=100%-(50px/100px)*100 */
  animation:Circuling 1 1s;
 }
 
 .circle:hover ul li a.share {
  left:-25%; 
  animation:none; 
 }
 
 @keyframes Circuling {
 0%{
  left:-25%;
 }
 100%{
  left:50%;
 }
 }
 